h1 {
  text-align: center;
  font-size: 4vh;
  height: 6vh;
  margin: 0;
  margin: 2vh 0;
}

h2 {
  font-size: 3vh;
  margin: 1vh 2vh;
}

p {
  font-size: 2.7vh;
  margin: 2vh;
}

.center-content {
  width: 100vw;
  min-height: 90vh;
  box-sizing: border-box;
  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

span.number[data-days="1"] ~ span > span.plural-s {
  display: none;
}

@media screen and (max-width: 1250px) {
  .center-content {
    flex-direction: column;
  }
}
